*{
    background-color: black;
}


.flexExample {
    width: 1320px;
    margin: auto;
    display: flex;
}

.flexItem {
    background-color: pink;
    color: red;
    width: 500px;
}

.flexExampleNew {
    width: 1320px;
    margin: auto;
    margin-bottom: 50px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.item {
    width: 200px;
    box-shadow: 0 0 10px 10px rgba(255, 1, 1, 0.1);
}

.item img {
    width: 50px;
}